:root {
    --color-page-title: hsl(24, 5%, 18%);
    --color-sect-header: hsl(14, 45%, 36%);
    --color-page-text: hsl(30, 10%, 34%);

    --color-prep-bg: hsl(330, 100%, 98%);
    --color-prep-primary: hsl(332, 51%, 32%);

    --color-page-bg: hsl(30, 54%, 90%);

    --color-hr: hsl(30, 18%, 87%);
    
    --font-title: "Young Serif", serif;
    --font-text: "Outfit", serif;
}

/* LAYOUT */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul { margin-left: -55px; }

li { margin-bottom: 12px; }

hr {
    border: none;
    height: 1px;
    color: var(--color-hr);
    background-color: var(--color-hr);

    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.container { width: 310px; }

.image { width: 375px; }

.title { margin-bottom: 15px; }

aside {
    background: var(--color-prep-bg);
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 5px 30px;
}

figure {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
}

.grid__2x4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
}

.grid__2x4 div {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-hr);
}

.grid__2x4 div:last-of-type, .grid__2x4 div:nth-last-of-type(2) {
    border-bottom: 0;
}

.grid__2x4 div:nth-of-type(odd) {
    padding-left: 35px;
}

@media screen and (min-width: 768px) {
    body {
        background-color: var(--color-page-bg);
    }

    .container, .image {
        width: 655px;
    }

    .card {
        width: 735px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 35px;
        padding-bottom: 20px;

        border-radius: 30px;
    }

    .image, aside { border-radius: 20px; }

    .container {
        width: 655px;
    }
}

/* LIST LAYOUT */

li {
    padding-left: 22px;
    display: flex;
    align-items: center;
}

ul li::before {
    content: "■";
    font-size: 8px;
    color: var(--color-sect-header);
    margin-right: 24px;
}

aside li::before { color: var(--color-prep-primary); }

ol { padding-left: 25px; }

ol li {
    display: list-item;
    padding-left: 15px;
}

li p { margin: 0; }

/* TYPOGRAPHY */

body {
    font-family: var(--font-text);
    color: var(--color-page-text);
    line-height: 1.5;
}

p { font-size: 16px; }

h1, h2 {
    font-family: var(--font-title);
    line-height: 1;
}

.title {
    color: var(--color-page-title);
    font-size: 36px;
}

aside h2 {
    color: var(--color-prep-primary);
    font-size: 20px;
    font-weight: 600;
}

.sect-header {
    color: var(--color-sect-header);
    font-size: 28px;
    font-weight: 500;
}

aside h2 { font-family: var(--font-text); }

ol li::marker {
    font: normal normal 700 100% "Outfit", sans-serif;
    color: var(--color-sect-header);
}

.grid__2x4 div:nth-of-type(even) {
    color: var(--color-sect-header);
    font-weight: 600;
}
