/* Fun to put in HTML structure thinking ahead to what CSS handlers you need */
/* Had to look up custom bullets CSS */
/* Bullet vertical alignment forces ::before selector, had to google a fair bit 
before getting straight answer ::marker can't do vertical align */

:root {
    --color-page-title: hsl(24, 5%, 18%);
    --color-sect-header: hsl(14, 45%, 36%);
    --color-page-text: hsl(30, 10%, 34%);

    --color-prep-bg: hsl(330, 100%, 98%);
    --color-prep-primary: hsl(332, 51%, 32%);
    
    --font-title: "Young Serif", serif;
    --font-text: "Outfit", serif;



    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);

}

/* LAYOUT */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkgray;
}

ul { margin-left: -55px; }

.card {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.container { width: 315px; }

.image { width: 375px; }

.title { margin-bottom: 15px; }

aside {
    background: var(--color-prep-bg);
    margin-top: 30px;
    padding: 5px 30px;
}

figure { margin-left: 0; }

/* LIST LAYOUT */

li {
    padding-left: 22px;
    display: flex;
    align-items: center;
}

li::before {
    content: "■";
    font-size: 8px;
    color: var(--color-sect-header);
    margin-right: 24px;
}

aside li::before {
    color: var(--color-prep-primary);
}

li p { margin: 0; }

/* TYPOGRAPHY */

body {
    font-family: var(--font-text);
    color: var(--color-page-text);
    line-height: 1.5;
}

p { font-size: 16px; }

h1, h2 {
    font-family: var(--font-title);
    line-height: 1;
}

.title {
    color: var(--color-page-title);
    font-size: 36px;
}

aside h2 {
    color: var(--color-prep-primary);
    font-size: 20px;
    font-weight: 600;
}

.sect-header { color: var(--color-sect-header); }

aside h2 { font-family: var(--font-text); }